$rb-font-path: '../fonts' !default;

@font-face {
  font-family: 'Museo';
  font-weight: 100;
  font-style: normal;

  src: url('#{$rb-font-path}/MuseoCyrl-100.eot');
  src: local('MuseoCyrl-Thin'),
  local('MuseoCyrl-Thin'),
  url('#{$rb-font-path}/MuseoCyrl-100.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/MuseoCyrl-100.ttf') format('ttf'),
  url('#{$rb-font-path}/MuseoCyrl-100.woff') format('woff'),
  url('#{$rb-font-path}/MuseoCyrl-100.woff2') format('woff2'),
  url('#{$rb-font-path}/MuseoCyrl-100.svg') format('svg');
}

@font-face {
  font-family: 'Museo';
  font-weight: 300;
  font-style: normal;

  src: url('#{$rb-font-path}/MuseoCyrl-300.eot');
  src: local('MuseoCyrl-Light'),
  local('MuseoCyrl-Light'),
  url('#{$rb-font-path}/MuseoCyrl-300.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/MuseoCyrl-300.ttf') format('ttf'),
  url('#{$rb-font-path}/MuseoCyrl-300.woff') format('woff'),
  url('#{$rb-font-path}/MuseoCyrl-300.woff2') format('woff2'),
  url('#{$rb-font-path}/MuseoCyrl-300.svg') format('svg');
}

@font-face {
  font-family: 'Museo';
  font-weight: 300;
  font-style: italic;

  src: url('#{$rb-font-path}/MuseoCyrl-300Italic.eot');
  src: local('MuseoCyrl-LightItalic'),
  local('MuseoCyrl-LightItalic'),
  url('#{$rb-font-path}/MuseoCyrl-300Italic.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/MuseoCyrl-300Italic.ttf') format('ttf'),
  url('#{$rb-font-path}/MuseoCyrl-300Italic.woff') format('woff'),
  url('#{$rb-font-path}/MuseoCyrl-300Italic.woff2') format('woff2'),
  url('#{$rb-font-path}/MuseoCyrl-300Italic.svg') format('svg');
}

@font-face {
  font-family: 'Museo';
  font-weight: 500;
  font-style: normal;

  src: url('#{$rb-font-path}/MuseoCyrl-500.eot');
  src: local('MuseoCyrl-Medium'),
  local('MuseoCyrl-Medium'),
  url('#{$rb-font-path}/MuseoCyrl-500.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/MuseoCyrl-500.ttf') format('ttf'),
  url('#{$rb-font-path}/MuseoCyrl-500.woff') format('woff'),
  url('#{$rb-font-path}/MuseoCyrl-500.woff2') format('woff2'),
  url('#{$rb-font-path}/MuseoCyrl-500.svg') format('svg');
}

@font-face {
  font-family: 'Museo';
  font-weight: 500;
  font-style: italic;

  src: url('#{$rb-font-path}/MuseoCyrl-500Italic.eot');
  src: local('MuseoCyrl-MediumItalic'),
  local('MuseoCyrl-MediumItalic'),
  url('#{$rb-font-path}/MuseoCyrl-500Italic.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/MuseoCyrl-500Italic.ttf') format('ttf'),
  url('#{$rb-font-path}/MuseoCyrl-500Italic.woff') format('woff'),
  url('#{$rb-font-path}/MuseoCyrl-500Italic.woff2') format('woff2'),
  url('#{$rb-font-path}/MuseoCyrl-500Italic.svg') format('svg');
}

@font-face {
  font-family: 'Museo';
  font-weight: 700;
  font-style: normal;

  src: url('#{$rb-font-path}/MuseoCyrl-700.eot');
  src: local('MuseoCyrl-Bold'),
  local('MuseoCyrl-Bold'),
  url('#{$rb-font-path}/MuseoCyrl-700.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/MuseoCyrl-700.ttf') format('ttf'),
  url('#{$rb-font-path}/MuseoCyrl-700.woff') format('woff'),
  url('#{$rb-font-path}/MuseoCyrl-700.woff2') format('woff2'),
  url('#{$rb-font-path}/MuseoCyrl-700.svg') format('svg');
}

@font-face {
  font-family: 'Museo';
  font-weight: 700;
  font-style: italic;

  src: url('#{$rb-font-path}/MuseoCyrl-700Italic.eot');
  src: local('MuseoCyrl-BoldItalic'),
  local('MuseoCyrl-BoldItalic'),
  url('#{$rb-font-path}/MuseoCyrl-700Italic.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/MuseoCyrl-700Italic.ttf') format('ttf'),
  url('#{$rb-font-path}/MuseoCyrl-700Italic.woff') format('woff'),
  url('#{$rb-font-path}/MuseoCyrl-700Italic.woff2') format('woff2'),
  url('#{$rb-font-path}/MuseoCyrl-700Italic.svg') format('svg');
}

@font-face {
  font-family: 'Museo';
  font-weight: 900;
  font-style: normal;

  src: url('#{$rb-font-path}/MuseoCyrl-900.eot');
  src: local('MuseoCyrl-Black'),
  local('MuseoCyrl-Black'),
  url('#{$rb-font-path}/MuseoCyrl-900.eot') format('embedded-opentype'),
  url('#{$rb-font-path}/MuseoCyrl-900.ttf') format('ttf'),
  url('#{$rb-font-path}/MuseoCyrl-900.woff') format('woff'),
  url('#{$rb-font-path}/MuseoCyrl-900.woff2') format('woff2'),
  url('#{$rb-font-path}/MuseoCyrl-900.svg') format('svg');
}